<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color" content="#141414")
        link(rel='stylesheet', href='dist/app.css')
        link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
        link(rel='icon' href='/favicon.ico' type='image/x-icon')
        //- link(rel="manifest" href="/manifest.json")
        title= title
    body
        #app
        #pageLoading.page-loading
            img(src=domain + '/images/loading.svg', alt="Loading")
            noscript To use Vissne, please enable JavaScript.
        script.
            var vissne = vissne || {};
            vissne.cdn ='#{cdn}';
            vissne.domain ='#{domain}';
            vissne.imagesSecureBaseUrl = '#{imagesSecureBaseUrl}';
            vissne.defaultCoverImagePath = '#{image.defaultCoverImagePath}';
            vissne.env = '#{env}';
            window.vissne = vissne;
        script(src='dist/app.bundle.js')

